{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topify</title>

    <script src="{% static 'js/spotify-web-api.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>

    <div class="container-fluid" id="header">
        <h1>Topify</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 selection">
                <h2>Step 1: Top Tracks or Top Artists?</h2>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" value="trackOption" checked>
                    <label class="form-check-label" for="exampleRadios1">Tracks</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" value="artistOption">
                    <label class="form-check-label" for="exampleRadios2">Artists</label>
                </div>
            </div>
            <div class="col-sm-4 selection">
                <h2>Step 2: How long back we going?</h2>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="time" value="stOption" checked>
                    <label class="form-check-label" for="exampleRadios1">Short Term (Past Month)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="time" value="mtOption">
                    <label class="form-check-label" for="exampleRadios2">Medium Term (Past 6 Months)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="time" value="ltOption">
                    <label class="form-check-label" for="exampleRadios2">Long Term (All Time)</label>
                </div>
            </div>
            <div class="col-sm-4 selection">
                <h2>Step 3: How many results do you want?</h2>
                <div class="form-group" id="numContainer">
                    <label for="number-input">Number of Tracks or Artists</label>
                    <input class="form-control" type="number" value="50" id="number-input">
                </div>
            </div>
        </div>

        <button id="loadButton" onclick="load();"> Get My Top Tracks/Artists </button>
    </div>

    <div class="container" id="dataContainer"></div>
</body>
</html>

<script>
    let load = function(){
        let spotifyApi = new SpotifyWebApi();

        let spAccessToken = localStorage.getItem('accessToken');
        spotifyApi.setAccessToken(spAccessToken);

        let loadedData;

        spotifyApi.getMyTopTracks({limit: 50, offset: 0, time_range: 'long_term'}, function(err, data) {
            if (err) console.error(err);
            else {
                loadedData = data;
                console.log('Top Tracks', data);

                let dataContainer = document.querySelector("#dataContainer");

                dataContainer.innerHTML = '<div class="row">\n' +
                    '            <div class="col-1">\n' +
                    '                <p>Number</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-3">\n' +
                    '                <p>Album Art</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>Song</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>Artist</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>Album</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>Popularity</p>\n' +
                    '            </div>\n' +
                    '        </div>';

                let size = loadedData.total;

                for (let i = 0; i < size; i++){
                    let item = loadedData.items[i];

                    let number = i + 1;
                    let albumArt = item.album.images[1].url;
                    let song = item.name;
                    let artist = item.artists[0].name;
                    let album = item.album.name;
                    let popularity = item.popularity;

                    console.log(albumArt);

                    dataContainer.innerHTML += '<div class="row dataRow">\n' +
                    '            <div class="col-1">\n' +
                    '                <p>' + number + '.</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-3">\n' +
                    '                <img src="' + albumArt + '" alt="albumCover" class="albumArt">\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>' + song + '</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>' + artist + '</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>' + album + '</p>\n' +
                    '            </div>\n' +
                    '            <div class="col-2">\n' +
                    '                <p>' + popularity + '</p>\n' +
                    '            </div>\n' +
                    '        </div>';

                }
            }
        });
    };
</script>