<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callback</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script language="JavaScript">
        $('document').ready(function(){
            let spotifyAccessToken = (String(window.location.hash)).match(/\#(?:access_token)\=([\S\s]*?)\&/)[1];
            console.log(spotifyAccessToken);
            localStorage.clear();
            localStorage.setItem('accessToken', spotifyAccessToken);
            window.close();
        });
    </script>
</head>
<body>

</body>
</html>
