<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STopify Start</title>

    <script language="JavaScript">
        let loginSpotify = function(){
        let SPOTIFY_CLIENT_ID = "fbc55ede5d87495d9d0ab6ac2d0d8d22";
        let SPOTIFY_REDIRECT_URI = "http://localhost:8000/stopify/callback/";
        let spotifyScope = "user-top-read";
        let spotifyAuthEndpoint = "https://accounts.spotify.com/authorize?"+"client_id="+SPOTIFY_CLIENT_ID+"&redirect_uri="+SPOTIFY_REDIRECT_URI+"&scope="+spotifyScope+"&response_type=token&state=123";
        window.open(spotifyAuthEndpoint,'callBackWindow','height=500,width=400');
        //This event listener will trigger once your callback page adds the token to localStorage
        window.addEventListener("storage",function(event){
            if (event.key == "accessToken"){
                let spAccessToken = event.newValue;
                console.log(spAccessToken);
                window.location.href = "http://localhost:8000/stopify/home/";
            }
        });
    }
    </script>

</head>
<body>
    <h1>STopify</h1>
    <h2>This app allows you view your top Spotify tracks and artists. To get started login in to your
    Spotify account.</h2>
{#    <a href="http://localhost:8000/stopify/login/" class="btn">Login with Spotify</a>#}

    <button onclick="loginSpotify()">Login with Spotify</button>
</body>
</html>